.image_max{
  width: 200px;
  height: 150px;

}


@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .notes{
        float: unset;
    }
    select{
        max-width: 90%;
    }
    .notes{
      min-height: unset;
    }
    .image_max{
      max-width:  90%;
      max-height: 90%;
    }
   
 
  }

  #logOutButton{
    display: none;
    /* test from none to block to avoid refreshing  */
  }

 #usersInfo{
  display: none;
 }

 #login{
  display: block;
 }

#usersBank{
  /* none defult not on  */
  display: none;
}

#container-register{
  /* none defult not on  */
  display: none;
}

#btn-Profile{
    /* none defult not on  */
    display: none;
}
#btn-Bank{
  /* none defult not on  */
  display: none;
}